html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #efe149, #7b9713);
}

body p {
  background-color: #a8a3a1;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    width: auto;
  }
}
